/***********************
*                      *
*        Navbar        *
*                      *
***********************/

.navbar-default {
  background-color: #5c97bf;
  border-color: #5c97bf;
}
.navbar-default .navbar-brand {
  color: #ddf8c6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ddf8c6;
}
.navbar-default .navbar-text {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > li > a {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ddf8c6;
  background-color: #5c97bf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ddf8c6;
  background-color: #5c97bf;
}
.navbar-default .navbar-toggle {
  border-color: #5c97bf;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5c97bf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddf8c6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ddf8c6;
}
.navbar-default .navbar-link {
  color: #ddf8c6;
}
.navbar-default .navbar-link:hover {
  color: #ddf8c6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ddf8c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ddf8c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ddf8c6;
    background-color: #5c97bf;
  }
}
/***************
*  end Navbar  *
***************/





.input-wrapper {
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
  margin-top: 6px;
  margin-bottom: 10px;
}

.form-group {
  padding-left: 7px;
  padding-right: 7px;
}

.form-div {
  margin-top: 8rem;
  /*margin-left: 8%;*/
  width: 90%;
}

.submit-input {
  margin-left: 10px;
}

.sec-info {
  margin: 5px 5%;
}




/***********************
*                      *
*        Output        *
*                      *
***********************/
.arrow_box {
    width: 200px;
    height: 100px;
    display: inline-block;
}
.arrow_box {
	position: relative;
	background: #5c97bf;
	/*border: 4px solid #c2e1f5;*/
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #5c97bf;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	/*border-left-color: #c2e1f5;*/
	/*border-width: 36px;*/
	margin-top: -36px;
}
.arrow_box > h1 {
    color: #ddf8c6;
    text-align: center;
    font-size: 40px;
}

.selected {
    background: #3D81B8;
}

.selected:after{
    border-left-color: #3D81B8;
}

.schedule {
    /*border: 3px solid #3D81B8;*/
    background-color: #3D81B8;
    /*color: #c2e1f5;*/
    width: 25%;
    height: 100px;
    display: inline-block;
}

/*.schedule {*/
	/*position: relative;*/
	/*background: #5c97bf;*/
	/*border: 4px solid #c2e1f5;*/
/*}*/
/*.arrow_box:after, .arrow_box:before {*/
	/*left: 100%;*/
	/*top: 50%;*/
	/*border: solid transparent;*/
	/*content: " ";*/
	/*height: 0;*/
	/*width: 0;*/
	/*position: absolute;*/
	/*pointer-events: none;*/
/*}*/

/*.arrow_box:after {*/
	/*border-color: rgba(136, 183, 213, 0);*/
	/*border-left-color: #5c97bf;*/
	/*border-width: 30px;*/
	/*margin-top: -30px;*/
/*}*/
/*.arrow_box:before {*/
	/*border-color: rgba(194, 225, 245, 0);*/
	/*border-left-color: #c2e1f5;*/
	/*border-width: 36px;*/
	/*margin-top: -36px;*/
/*}*/
