/***********************
*                      *
*        Navbar        *
*                      *
***********************/

.navbar-default {
  background-color: #5c97bf;
  border-color: #5c97bf;
}
.navbar-default .navbar-brand {
  color: #ddf8c6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ddf8c6;
}
.navbar-default .navbar-text {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > li > a {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ddf8c6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ddf8c6;
  background-color: #5c97bf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ddf8c6;
  background-color: #5c97bf;
}
.navbar-default .navbar-toggle {
  border-color: #5c97bf;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5c97bf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddf8c6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ddf8c6;
}
.navbar-default .navbar-link {
  color: #ddf8c6;
}
.navbar-default .navbar-link:hover {
  color: #ddf8c6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ddf8c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ddf8c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ddf8c6;
    background-color: #5c97bf;
  }
}
/***************
*  end Navbar  *
***************/





.input-wrapper {
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
  margin-top: 6px;
  margin-bottom: 10px;
}

.form-group {
  padding-left: 7px;
  padding-right: 7px;
}

.form-div {
  margin-top: 8rem;
  /*margin-left: 8%;*/
  width: 90%;
}

.submit-input {
  margin-left: 10px;
}

.sec-info {
  margin: 5px 5%;
}




/***********************
*                      *
*        Output        *
*                      *
***********************/

/*background: #5c97bf;*/
/*background-color: #3D81B8; selected*/
/*color: #ddf8c6; green*/

.tab-sidebar {
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #5c97bf;
    width: 12%;
    height: 100%;
    overflow-y: auto;
    text-align:center;
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    /*transition: 0.5s; !* 0.5 second transition effect to slide in the sidenav *!*/
}

.tab-sidebar a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 40px;
    color: #ddf8c6;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.selected {
    background-color: #3D81B8;
}

.schedule {
    background-color: #E8EFF0;
    margin: 5% 0 0 18%;
    min-height: 100px;
    min-width: 300px;
    height: 80%;
    width: 73%;
    text-align: center;
    display: none;
    /*overflow: hidden;*/
}

.day {
    text-align: center;
    /*display: inline-block;*/
    width: 20%;
    border-left: 2px solid #ddf8c6;
    background-color: #5c97bf;
    vertical-align:top;
    display: table-cell;
}

.day-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    height: 10%;
    color: #ddf8c6;
    padding: 10px;
    border-bottom: 2px solid #ddf8c6;

}

.day:hover .day-text {
    color: #f3f7e3;
}

#F {
    border-right: 2px solid #ddf8c6;
}

.section {
    padding: 10px;
    background-color: #3D81B8;
}







/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.day:hover .day-text, .day:focus .day-text, .day:active .day-text {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bounce To Right */
.tab {
  height: 75px;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  /*position: relative;*/
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition: background-color .5s;
}
.tab:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3D81B8;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tab:hover, .tab:focus, .tab:active {
  color: white;
}
.tab:hover:before, .tab:focus:before, .tab:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}






body {
  padding-top: 51px;
  background-color: #3D81B8;
}