<!DOCTYPE HTML>
<html>
<html lang="en">
<head>
  <title>Class Planner</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- BOOTSTRAP CSS Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- BOOTSTRAP JS Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style>
	/*.navbar-custom {
	  background-color: "#5C97BF"
	}*/
	.form-inline {
	  border-bottom: 2px solid grey;
	  padding-bottom: 1rem;
	  margin-top: 6px;
	}
	.form-group {
	  padding-left: 7px;
	  padding-right: 7px;
	}
	.total-form {
	  margin-top: 8rem;
	  margin-left: 8%;
	  width: 80%;
	}
	</style>

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Auto Class Planner</a>
        </div>
          <ul class="nav navbar-nav pull-right">
            <li><a href="#">More Info</a></li>
            <li><a href="#">Help</a></li>
          </ul>
      </div>
  	</nav>

  	{% block content %}{% endblock %}

  </body>
  </html>