<!DOCTYPE HTML>
<html>
<html lang="en">
<head>
  <title>Class Planner</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery -->
  {#  <script src="/static/js/jquery-3.2.1.js"></script>#}
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- timepicker -->
  {#  <script src="/static/js/jquery.timepicker.js"></script>#}
  <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.11/jquery.timepicker.min.js"></script>
  {#  <link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css">#}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.11/jquery.timepicker.min.css">

  <!-- custom css and js -->
  <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  <script type="text/javascript" src="/static/js/app.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Auto Class Planner</a>
        </div>
      	<ul class="nav navbar-nav pull-right">
          <li><a href="#">More Info</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
  	</nav>

  	{% block content %}{% endblock %}

  </body>
  </html>