{% extends "base.html" %}
{% block content %}

<style>
    body {
        background: #3D81B8;
    }
</style>

<div class="tab-sidebar">
{% for schedule in scheduleList %}
    <div class="tab">
        <a href="#" id="schedule-{{ loop.index }}">{{ loop.index }}</a>
    </div>
{% endfor %}
</div>

{% for schedule in scheduleList %}
    <div class="sections" id="section-{{ loop.index }}">
        <p>Monday:
        {% for day in schedule['M'] %}
            {{ day }}
        {% endfor %}</p>
        <p>Tuesday:
        {% for day in schedule['T'] %}
            {{ day }}
        {% endfor %}</p>
        <p>Wednesday:
        {% for day in schedule['W'] %}
            {{ day }}
        {% endfor %}</p>
        <p>Thursday:
        {% for day in schedule['R'] %}
            {{ day }}
        {% endfor %}</p>
        <p>Friday:
        {% for day in schedule['F'] %}
            {{ day }}
        {% endfor %}</p>
    </div>
{% endfor %}
{% endblock %}