  <div class="form-group">
    <label for="secNum">Section Number</label>
    <input type="text" class="form-control sec-num" name="secNum" size="5" placeholder="199"/>
  </div>
  <div class="form-group">
    <label for="startTime">Start</label>
    <input type="text" class="form-control start-time ui-timepicker-input" size="8" name="startTime" placeholder="1:30pm"/>
  </div>
  <div class="form-group">
    <label for="finishTime">End</label>
    <input type="text" class="form-control finish-time ui-timepicker-input" size="8" name="finishTime" placeholder="2:30pm"/>
  </div>
  <div class="form-group">
    <input type="checkbox" class="monday" name="m" value="M">
    <label>M</label>
    <input type="checkbox" class="tuesday" name="t" value="T">
    <label>T</label>
    <input type="checkbox" class="wednesday" name="w" value="W">
    <label>W</label>
    <input type="checkbox" class="thursday" name="r" value="R">
    <label>R</label>
    <input type="checkbox" class="friday" name="f" value="F">
    <label>F</label>
  </div>
  <button class="btn btn-danger btn-delete-sec" style="margin-left: 3px;" type="button"><span class="glyphicon glyphicon-trash"></span></button>